@model List<CourseVM>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kurslarım</h5>
                <a class="btn btn-primary mb-3" asp-controller="Courses" asp-action="Create">Kurs Ekle</a>
                @if (!Model.Any())
                {
                    <div class="alert alert-info">Kayıtlı Kurs bulunamadı!</div>
                }
                else
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Kurs İsmi</th>
                                <th>Fiyat</th>
                                <th>Süre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {
                                <tr>
                                    <td>
                                        <img style="width:72px;" class="img-thumbnail" src="@course.PictureUrl" />
                                    </td>
                                    <td>@course.Name</td>
                                    <td>@course.Price</td>
                                    <td>@course.Feature.Duration</td>
                                    <td>
                                        <a class="btn btn-success" asp-controller="Courses" asp-action="Update" asp-route-id="@course.Id">Güncelle</a>
                                        <a class="btn btn-danger" asp-controller="Courses" asp-action="DeleteApproval" asp-route-id="@course.Id">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

